
snippet join
	var exps = [
	  "\<.*\>",
	  "_.*_",
	]
	var re = new RegExp(exps.join("|"), "i")
snippet cl
	console.log(${0})
snippet ce
	console.error(${0})
snippet getopt
	#!/usr/bin/nodejs
	
	process.argv.forEach(function (val, index, array) {
	  console.log(index + ': ' + val);
	});
snippet cat
	const fs = require("fs");
	const data = fs.readFileSync("/dev/stdin", "utf-8");
